/* color veriable */
$white: #ffffff;
// $off_white: #b9b9b9;
// $off_white: #b1c0e0;
$off_white: #96a2b8;
$black: #000000;
$master_color_1:#a5a6a885;
// $master_color_1:#006837;
// $master_color_2:#0c58a4;
$master_color_2:#192f59;
// $bg_color:#eff6fc;
$bg_color:#2d3d5a14;

// #F9F9F9

/* font name */
$font_bold: "font_bold";
$font_regular: "font_regular";

$font_regular: "Regular"; /* 400 */
$font_medium: "Medium"; /* 500 */
$font_semibold: "SemiBold"; /* 600 */
$font_bold: "Bold"; /* 700 */
$font_extrabold: "ExtraBold"; /* 800 */

/* border */
$border: 0px solid red;
